<div id="main-container">

	<div id="main-page">
		aaaa
		<div id="logo-search">
			<i class="fa fa-search"></i>
		</div>
	</div>

	<div id="search-bar">

		<div id="search-wrapper">
			<div id="search">
				<input type="text" name="search_box" id="search-text" size="27" placeholder="  Search">
			</div>
			<div id="search-button">
				<i class="fa fa-chevron-right"></i>
			</div>	
		</div>

		<div id="search-results">	

		</div>

	</div>

</div>

