<div id="main-container">

	<div id="main-page">
		aaaa
		<div id="logo-search">
			<i class="fa fa-search"></i>
		</div>

		<div id="logo-chat">
			<i class="fa fa-comment-o"></i>
		</div>

		<div id="chatroom">
			<div id="messages"></div>
			<div id="mess-wrap">
				<div id="message-input-wrap">
					<input id="message-input" type="text" placeholder="Enter message here..." />
				</div>
				<div id="send-button">
					<i id="send" class="fa fa-chevron-right"></i>
				</div>
			</div>
		</div>
	</div>

	<div id="search-bar">
		<div id="search-wrapper">
			<div id="search">
				<input type="text" name="search_box" id="search-text" size="27" placeholder="  Search">
			</div>
			<div id="search-button">
				<i id="search-chevron" class="fa fa-chevron-right"></i>
			</div>	
		</div>

		<div id="search-results">	

		</div>

	</div>

</div>

