<div id="room-<%= @room.id %>">

	<div id="search">
		<input type="text" name="search_box" id="search-text" size="15" placeholder="Search" autofocus />
		<div id="search-button">Search</div>
	</div>

	<div id="search-results"></div>
	<ul id="playlist"></ul>

</div>