html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 125%;
	overflow: hidden;
}

.room {
	width: 100%;
	position: absolute;
  height: 100%;
}

.each-result {
	width: 400px;
}


/*#playlist {
	width: 45%;
	float: left;
	margin-left: 5%;
}
*/
#search {
	margin-top: 20px;
}


#mask {  
  position:absolute;
  top:0px;  
  left:0px;   
  height:100%;  
  width:100%;  
  display:none; 
  background-color: black;  
}  

.modal-window {  
  position:absolute;  
  display:none;  
}


/***** Splash Page *****/
#splash-wrapper {
	width:100%;
	height:100%;
	background: url(/assets/beatles.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/***** Splash Page Nav *****/
#splash-nav {
  width: auto;
  display: inline;
  list-style: none;
}

#splash-nav li {
  font-size: 17px;
  float: right;
  padding: 10px;
}

#splash-logo li {
	float: left;
	font-size: 25px;
	padding: 10px;
	list-style-type: none;
}

#logo-first-word {
	font-family: Lato;
	color: #F47E20;
}

#logo-second-word {
	font-family: Lato;
	color: #F22738;
}

#logo-slash {
	font-family: Lato;
	color: #00ADEE;
	font-weight: bold;
	font-size: 40px;
	position: relative;
	top: 6px;
}

#quote-first-line {
	position: absolute;
	top: 28%;
	left: 10%;
	font-size: 50px;
	font-family: 'Playball';
}

#quote-second-line {
	position: absolute;
	top: 35%;
	left: 12%;
	font-size: 50px;
	font-family: 'Playball';
}

#quote-author {
	position: absolute;
	top: 47%;
	left: 12%;
	font-size: 30px;
}

.links:hover {
  color:#2ecc71;
  cursor: pointer;
}

header {
  width: 100%;
  height: 40px;
  z-index: 100;
  position: fixed;
}
/***** Splash Page Modals */
.splash-modal {
	padding: 15px;
	position: relative;	
	width: 25%;
	top: 50%;
	left:50%;
	left: 50px;
	background-color: white;
}

.splash-modal div {
	margin-top: 10px;
}

#temp-link {
	position: relative;
	top: 20%;
	color: white;
}

#temp-link a {
	color: white;
}

/***** Home/Index */
#all-rooms {
	width:100%;
	height:100%;
/*	background: url(record_stack.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;*/	
	background-color: #2c3e50;
	color: white;
}
#all-rooms a{
	color: white;
}


#create-room-button {
	position: relative;
	padding: 5px;
	background-color: red;
	text-align: center;
	padding-top: 5px;
	margin-top: 10%;
}

#create-room-link {
	width: 130px;
	position: relative;
	padding: 5px;
	background-color: red;
	text-align: center;
	padding-top: 5px;
	/*margin-top: 10%;*/
}

#create-room {
	margin: 0 auto;
	position: relative;
	left:0;
	padding:15px;
	background-color: white;
	width: 20%;
	text-align: center;
}

#album-art-container{
	margin-left: 44%;
	margin-top: 1%;
	position: fixed;
	height: 98%;
	width: 47%;
	overflow-y: scroll;
	z-index: 200;
}

/***** Room ***************/

/*.main-container {
    position:absolute;
    width: 100%;
    height: 100%;
}*/

#search-bar {
	position: absolute;
	width: 20%;
	height: 100%;
	top: 0;
	background:url(low_contrast_linen.png);
	left:100%;
}

#main-page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
    background: url(grey_gradient.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

#logo-search {
	padding: 5px;
	line-height: 30px;
	margin-top: 2%;
	margin-left:93%;
	text-align: center;
	background-color:black;
	color: white;
	width:35px;
	height:35px;
	position: fixed;
	cursor: pointer;
}

#logo-chat {
	padding: 5px;
	line-height: 30px;
	margin-top: 8%;
	margin-left: 93%;
	text-align: center;
	background-color: black;
	color: white;
	width: 35px;
	height: 35px;
	font-size: 20px;
	position: fixed;
	cursor: pointer;
	z-index: 202;
}

.fa-comment-o {
	margin-top: 2%;
}

#search-results {
	background-color: rgba(236, 240, 241,0.1);
	margin: 0 auto;
	margin-top: 60px;
	width: 75%;
	height: 88%;
	overflow-y:scroll; 

	-webkit-box-shadow: 1px 1px 1px 2px #21211D;
	box-shadow: 1px 1px 1px 2px #21211D;
}

.each-result {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	opacity: 0.7;
	padding: 5px 10px 5px 10px;
	width: 75%;
	margin-top: 10px;
	color: white;
	cursor: pointer;
}


/****** Search Div in Room*/

#search-wrapper{
	margin-left: 14%;
}

#search-button {
	float: left;
	margin: 0;
	padding: 5px 5px;
	font-size:14px;
	cursor: pointer;
	text-align: center;
	color: white;
	border-left:0px;
	background: #27ae60;
	width: 9%;
	height:16px;
	display: inline-block;
}

#search-text{
	margin: 0;
	float: left;
	height: 20px;
	width: 70%;
	margin-left: -1%;
	display: inline-block;
	-webkit-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}

#search-chevron {
	position: relative;
	top:2px;
	/*bottom: 5px;*/
}

/***** Song Controller ******/
#song-controller{
	position: fixed;
	z-index: 1000;
	background-color: rgba(33, 33, 29, 0.3);
	width: 40%;
	margin-left: 1%;
	margin-top: 1%;
	padding: .5%;
	border: 3px solid rgba(0,0,0,0.8);
}

#currently-playing{
	font-family: 'Lato', sans-serif;
	color:white;
}

.controller-buttons{
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 15px;
	line-height: 20px;
}

#side-by-side{
	float:left;
}

/* Room Slider */
#slider {
	margin-top: 5%;
	width: 100%;
}

#vol-tag {
	color:white;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
}

/***** Playlist/Userlist */
#playlist-userlist{
	position: fixed;
	line-height: 20px;
	display: inline-block;
	color:white;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	margin-top: 20%;
	z-index: 2000;
	height: 50%;
	width: 60%;
}

#playlist-div {
	margin-top: 1%;
	margin-left: 12%;
	width: 30%;
	background-color: black;
	padding:1%;
	list-style-type: none;
	position: fixed;
	overflow: scroll;	
}

#playlist-div h4 {
	margin:0;
}

#users {
	margin-top: 1%;
	/*margin-left: 1%;*/
	position: fixed;
	width:10%;
	background-color: black;
	overflow-y:scroll;

}


/* Chatroom */
/*#messages {
	height: 300px;
	width: 200px;
	word-wrap: break-word;
	overflow-y: scroll;
	overflow-x: none;
	border: 3px solid black;
	margin-bottom: 0;
}

#message-input {
	width: 120px;
	height: 30px;
	margin: 0;
	padding: 0;
}

#send {
	text-decoration: none;
	background-color: black;
	color: white;
	width: 40px;
	height: 30px;
	margin: 0;
	padding: 10px 25px 10px 15px;
}

.content {

}

.author {
	font-size: 10px;
	font-weight: italic;
}*/

#chatroom {
	display: none;
	margin-top: 8%;
	margin-left: 78%;
	position: fixed;
	height: 330px;
	width: 200px;
	z-index: 201;
}

#messages {
	height: 300px;
	width: 200px;
	word-wrap: break-word;
	overflow-y: scroll;
	overflow-x: none;
	border: 3px solid rgba(0,0,0,0.8);
	margin-bottom: 0;
	background-color: rgba(33, 33, 29, 0.3);
	color: white;
	font-family: Lato, sans-serif;
}

#message-input-wrap {

}

#message-input {
	margin: 0;
	float: left;
	height: 20px;
	width: 82%;
	display: inline-block;
}

#send {
	float: left;
	margin: 0;
	padding: 5px 5px;
	font-size:14px;
	cursor: pointer;
	text-align: center;
	color: white;
	border-left:0px;
	background: black;
	width: 10%;
	height: 15px;
	display: inline-block;
}

.content {
	margin-left: 5px;
}

.author {
	font-size: 10px;
	font-weight: italic;
	margin-left: 12px;
}


#next {
	font-size: 50px;
	text-decoration: none;
	margin: 0 50px;
}

#sign-out-link a {
	text-decoration: none;
}



