#search-button {
								height: 25px;
								width: 100px;
								margin-top: 25px;
								border: 1px black solid;
								text-align: center;
								background: gray;
								}

.each-result {
							width: 400px;
							}

#search-results{
								float: left;
								}

.hidden-index {
							display: none;
							}
